Repository sass0lino/MTSS-Assignment-2, pull requests merged in 2023-05, with the labels that each got.

#11 Configurazione Iniziale
  .github/badges/branches.svg
  .github/badges/jacoco.svg
  .github/workflows/build.yml
  README.md
  configurations/checkstyle.xml
  configurations/header.txt
  pom.xml
  src/main/java/it/unipd/mtss/.gitkeep
  src/main/java/it/unipd/mtss/IntegerToRoman.java
  src/main/java/it/unipd/mtss/RomanPrinter.java
  src/test/java/it/unipd/mtss/.gitkeep
  src/test/java/it/unipd/mtss/IntegerToRomanTest.java
  src/test/java/it/unipd/mtss/RomanPrinterTest.java
Labels: CI, project automation, static analysis, unit test

#12 Implementazione IntegerToRoman
  .github/badges/jacoco.svg
  src/main/java/it/unipd/mtss/IntegerToRoman.java
  src/test/java/it/unipd/mtss/IntegerToRomanTest.java
Labels: feature, unit test

#13 Implementazione RomanPrinter
  .github/badges/branches.svg
  .github/badges/jacoco.svg
  src/main/java/it/unipd/mtss/RomanPrinter.java
  src/test/java/it/unipd/mtss/RomanPrinterTest.java
Labels: feature, unit test

#14 Limiti di conversione
  .github/badges/branches.svg
  src/main/java/it/unipd/mtss/IntegerToRoman.java
  src/test/java/it/unipd/mtss/IntegerToRomanTest.java
  src/test/java/it/unipd/mtss/RomanPrinterTest.java
Labels: feature, unit test

#17 Caso stringa vuota
  .github/badges/branches.svg
  .github/badges/jacoco.svg
  src/main/java/it/unipd/mtss/RomanPrinter.java
  src/test/java/it/unipd/mtss/RomanPrinterTest.java
Labels: feature, unit test

#18 Conversione da Stringa a Roman
  .github/badges/jacoco.svg
  src/main/java/it/unipd/mtss/IntegerToRoman.java
  src/test/java/it/unipd/mtss/IntegerToRomanTest.java
Labels: feature, unit test

#20 Caso particolare di stampa
  .github/badges/branches.svg
  src/main/java/it/unipd/mtss/RomanPrinter.java
  src/test/java/it/unipd/mtss/RomanPrinterTest.java
Labels: feature, unit test

#22 Refactor README
  README.md
Labels: bug, documentation
